<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Shares exported report PDFs/CSVs with other apps via the system share sheet. -->
        <provider
            android:name=".ReportsFileProvider"
            android:authorities="${applicationId}.reports.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/reports_file_paths" />
        </provider>
    </application>

</manifest>
